link(rel="preload" as="style" href="/resources/pages/error.css")
lapis-style(src="/resources/pages/error.css")

header#error-header
  h1 
    span 404
  h1.da 
    span java.lang.NoClassDefFoundError
    span.big#error-da 펑
  p
    img#error-jhotwt(src="/resources/pages/profile.jpg")
  h1(style="color: var(--th);") 
    a(href="/" lapis) cucumbery.com

lapis-script(src='/resources/pages/error.mjs')