


header {
  padding: 90px 0px 90px 0px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}
header .title {
  display: inline-flex;
  height: 30px;
  align-items: center;
}
header .title .text {
  font-size: 24pt;
  font-weight: 700;
  line-height: 30px;
  color: var(--th);
}
header .title img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

#latest .buildinfo {
  width: 100%;
  padding-bottom: 30px;
}
#latest .buildinfo .info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}
#latest .buildinfo .info .desc {
  font-size: 12pt;
  line-height: 20px;
}
#latest .buildinfo .info .desc span {
  color: var(--gray-128);
  margin-right: 10px;
  font-weight: 400;
}
#latest .buildinfo .file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
}
#latest .buildinfo .file .filename {
  height: 30px;
  font-size: 18pt;
  line-height: 30px;
  font-weight: 700;
}
#latest .buildinfo .file .download {
  height: 30px;
  border-radius: 45px;
  border: solid 1.5px var(--fg);
  padding: 0px 10px 0px 10px;
  font-size: 14pt;
  line-height: 30px;
  font-weight: 700;
}
#latest .buildinfo .file .download:hover {
  background-color: var(--fg);
  color: var(--bg);
}