doctype html
html(lang="ko")

  head
    include /views/master/head
    meta(name='description' content="큐컴버리 Cucumbery")
    meta(name='author' content="jho5245")
    link(rel="canonical" href="https://cucumbery.com")
    link(rel='stylesheet' href='https://cucumbery.com/resource/master/root.css' type='text/css')
    title 큐컴버리 Cucumbery | 마인-크래프트 플러그-인

  body
      
    header
      h1 
        span 안녕하세요 오이 홈페이지
      h1.da 
        span 큐컴버리 홈페이지 오신것을 환영합니
        span.big#da 다
      p
        img#jhotwt(src="https://cucumbery.com/image/ppap.jpg")
      h1 cucumbery.com

    section#intro 
      p 이 플러그-인은 중앙샌즈재단 산하 굳검연합회에서 만든 마인-크래프트-지류-서버-플러그-인 입니다. 서버의 안전하고 원활한 작동과 각종 기능들을 제공합니다.
      br
      ul 
        p 대표적인 큐컴버리 플러그-인의 기능들은 다음과 같습니다 
        br

    section#download
      p 플러그-인을 퍼스널-컴퓨터에 다운로드 받으려시면 다음 하이퍼링크를 누르십시오. (이 링크는 뭐 최대한 지속적이고 꾸준한 노력으로 최신의 개발 버전을 제공합니다. 그 노력을 인지하십시오.)
      p 다운로드 하이퍼링크는 이곳입니다 -> 
        a(href="https://cucumbery.com/api/builds/dev/latest/download") https://cucumbery.com/~file/dev.jar

    section#csong
      p 육면음표 기록 재생기능의 육면음표 기록은 기록관에 업로드 되어 있습니다. 육면음표기록관에서는 존재하는 기록을 확인하고 추가적으로 기록할 수 있습니다. (당신의 퍼스널-컴퓨터를 저장하십시오)
      p 육면음표기록관 하이퍼링크는 이곳입니다 -> 
        a(href="https://cucumbery.com/songs") https://cucumbery.com/songs

    section#github 
      p 플러그-인의 소스-코드 및 다량의 병충해 발생 시 적절한 속도* 의 제보를 위해 깃-허브 서비스를 운영합니다. 아래에서 깃-허브 서비스의 하이퍼링크를 찾을 수 있습니다.
      p 깃-허브 하이퍼링크는 이곳입니다 -> 
        a(href="https://github.com/jho5245/Cucumbery") https://github.com/jho5245/Cucumbery

    footer 
      p © Copyright 2016-2021 jho5245. All rights reserved.

    include /views/master/scripts
    script(src='https://cucumbery.com/resource/master/root.js')