link(rel="preload" as="style" href="/resources/pages/root.css")
lapis-style(src="/resources/pages/root.css")

header#root-header
  h1 
    span hello cucumber home page
  h1.da 
    span Cucumbery home page come welco
    span.big#root-da ME
  p
    img#root-jhotwt(src="/resources/pages/profile.jpg")
  h1(style="color: var(--th);") cucumbery.com

section#root-description
  .outwrapper(narrow)
    .inwrapper

      p Cucumbery home page what have you done welcome.
      br
      p this plug-ins JoongAng Sands Foundation Affiliation At the Hard Swords Association made minecraft-feeder-server-plugin-in no see. server's safe and Smooth operation and various features provide.
      br
      p plug-in to use in order to Java Generation seventeen ideal java-virtual-machine Over tributary-server Generation one point nineteen points apology the environment is required.
      br
      p representative Cucumbery of plug-ins the features next and Same.

      br

      ul 

      br
      br
      br

      p plug-in personal - on the computer Download to receive next hyperlink press. (this link is what Most continuous steady with effort brand-new Development version provide. that make an effort be aware.)
      p Download hyperlink is here it is -> 
        a#link-wasans(href="https://api.wany.io/amethy/repository/Cucumbery/dev/latest/Cucumbery-" + Date.now().toString(36) + ".jar") https://cucumbery.com/~file/dev.jar
        script.
          setInterval(() => {
            const key = new Date().toJSON().substring(0, 19);
            document.querySelector('#link-wasans').href = `https://api.wany.io/amethy/repository/Cucumbery/dev/latest/Cucumbery-${key}.jar`;
          }, 50);
      
      br
      br
      br

      p six-sided note record regenerative six-sided note record is to the archives upload Became there is. In the six-sided note archive exist record check additionally to record number there is. six-sided note record is Six-sided note-workroom binary piece set using to refine number there is. (your personal computer save)
      p Six-sided note recorder hyperlink is here it is -> 
        a(href="/songs") https://cucumbery.com/songs
      
      br
      br
      br

      p Cucumbery plug-in and connected organized collusion to achieve will do number there is. Unfortunately of plug-ins Justice the document is Removed.

      br
      br
      br

      p of plug-ins spaghetti-code and a lot of disease generation city appropriate speed* of report for git-hub service operate. from below git-hub of service hyperlink find number there is.
      p git-hub hyperlink is here it is -> 
        a(href="https://github.com/jho5245/Cucumbery") https://github.com/jho5245/Cucumbery

lapis-script(src="/resources/pages/root-en.mjs")