doctype html
html(lang="ko")

  head
    include /views/master/head
    meta(name='description' content="Songs Library | Cucumbery")
    meta(name='author' content="jho5245")
    link(rel="canonical" href="https://cucumbery.com/songs")
    link(rel='stylesheet' href='https://cucumbery.com/resource/songs/root.css' type='text/css')
    title Songs Library | Cucumbery

  body
      
    header
      .outwrapper 
        .inwrapper
          .left
            a.title(href="https://cucumbery.com/songs")
              span.text Cucumbery Songs Library (Fucked-UP Version)
              span
                img(src="/resource/icon/cucumbery-256.png")
          .right

    section#form
      .outwrapper 
        .inwrapper
          .left 
          .right
            .input.file
              label file
              .files
              input(type="file" placeholder="select nbs files" accept=".nbs" multiple)#input-file
              .border

            input#input-upload(type="button" value='업로드')


    include /views/master/scripts
    script(src='https://cucumbery.com/resource/songs/root.js')
    script(src='https://wany.io/resource/master/inputs.js')