doctype html
html(lang="ko")

  head
    include /views/master/head
    meta(name='description' content="큐컴버리 Cucumbery")
    meta(name='author' content="jho5245")
    link(rel="canonical" href="https://cucumbery.com")
    link(rel='stylesheet' href='https://cucumbery.com/resource/master/error.css' type='text/css')
    title 404 | 큐컴버리

  body
      
    header
      h1 404
      h1.da 
        span java.lang.NoClassDefFoundError
        span.big#da 펑
      p
        img#jhotwt(src="https://cucumbery.com/image/ppap.jpg")
      h1 
        a(href="https://cucumbery.com") cucumbery.com

    footer 
      p © Copyright 2016-2021 jho5245. All rights reserved.

    include /views/master/scripts
    script(src='https://cucumbery.com/resource/master/error.js')