meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
meta(name="format-detection" content="telephone=no")

link(rel="stylesheet" href="https://cucumbery.com/resource/master/master.css" type="text/css")
link(rel='stylesheet' href='https://wany.io/resource/master/inputs.css' type='text/css')

link(rel='apple-touch-icon' sizes='180x180' href='https://cucumbery.com/resource/favicon/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='https://cucumbery.com/resource/favicon/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='https://cucumbery.com/resource/favicon/favicon-16x16.png')
link(rel='manifest' href='https://cucumbery.com/resource/favicon/site.webmanifest')
link(rel='mask-icon' href='https://cucumbery.com/resource/favicon/safari-pinned-tab.svg' color='#52ee52')
link(rel='shortcut icon' href='https://cucumbery.com/resource/favicon/favicon.ico')
meta(name='msapplication-TileColor' content='#da532c')
meta(name='msapplication-config' content='https://cucumbery.com/resource/favicon/browserconfig.xml')
meta(name='theme-color' content='#52ee52')

script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.12.1/polyfill.js")

script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-CGNKH362G9')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-CGNKH362G9');

meta(name='naver-site-verification' content='88d4509e3c0a0b542e53e234718ab702cc126d7b')