doctype html
html

  head
    include /views/master/head
    title Redirect...

  body

    p Redirect...

    include /views/master/scripts
    script.
      var target = "#{target}";
      setTimeout(function() {
        window.location.href = target;
      }, 500);