
html, body {
  overflow-x: hidden;
}

a {
  text-decoration: underline;
  color: #52ee52;
}

header {
  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Comic Sans MS';
  font-style: italic;
}
header .da {
  padding-top: 60px;
  display: block;
  position: relative;
}
header .da span {
  width: 100%;
  text-align: center;
  position: relative;
  font-family: 'Comic Sans MS';
  font-style: normal;
}
header span {
  font-weight: 400;
  font-size: 18pt;
}
header span.big {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 60pt;
  padding-bottom: 60px;
  font-family: 'Gulim';
}

#jhotwt {
  transition: transform 0.2s ease-in-out;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  max-width: 600px;
}

#gotogreen {
  color: white;
  text-decoration: none;
  cursor: default;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
#intro p {
  max-width: 720px;
}
#intro span img {
  display: inline;
  width: 17.5px;
  height: 17.5px;
  padding-top: 2.5px;
}

#csong {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
#csong p {
  max-width: 720px;
}

#download {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
#download p {
  max-width: 720px;
}

#github {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}
#github p {
  max-width: 720px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p {
  max-width: 720px;
  margin-bottom: 300px;
}