doctype html
html(lang="ko")

  head
    include /views/master/head
    meta(name='description' content="Builds | Cucumbery")
    meta(name='author' content="jho5245")
    link(rel="canonical" href="https://cucumbery.com/builds/list")
    link(rel='stylesheet' href='https://cucumbery.com/resource/master/root.css' type='text/css')
    title Builds | Cucumbery

  body
      
    header
      h1 Cucumbery Builds

    include /views/master/scripts
    script(src='https://cucumbery.com/resource/master/root.js')